<%- include('partials/head', { pageTitle: `Medic-Elite - ${employee.name}` }) %>
<%- include('partials/nav') %>

<main>
  <h1><%= employee.name %></h1>
  
  <div class="employee-info">
    <img src="<%= employee.image %>" alt="<%= employee.name %>" width="200">
    
    <ul>
      <li><strong>Position</strong> <%= employee.position %></li>
      <li><strong>Email:</strong> <%= employee.email %></li>
      <li><strong>Speciality</strong> <%= employee.specialty %></li>
    </ul>
  </div>
  
  <a href="/medic-elite/employees.ejs">Back to Employees</a>
</main>

<%- include('partials/footer') %>