<%- include('./partials/header', { pageTitle: 'Medic-Elite' }) %>
<%- include('./partials/nav') %>

<main>
  <h1>Employees</h1>
  
  <ul>
    <% employees.forEach(employee => { %>
      <li><a href="employees/<%= employee.employeeID %>"><%= employee.name %></a></li>
    <% }) %>
  </ul>

</main>

<%- include('partials/footer') %>