<%- include('./partials/head', { pageTitle: 'Medic-Elite' }) %>
<%- include('./partials/nav') %>
<main>
  <div class="employees-wrapper">
    <div class="employees-container">
      <div class="employee-list">
        <h1>Employees</h1>
        <ul>
          <% employees.forEach((employee, index) => { %>
          <ul>
            <a href="#" class="employee-link" data-index="<%= index %>" onclick="loadEmployeeDetails(this); return false;">
              <%= employee.name %>
            </a>
          </ul>
          <% }) %>
        </ul>
      </div>
      <div id="employeeDetails" class="employee-details">
        <p>Select an employee to view details.</p>
      </div>
    </div>
  </div>
</main>
<%- include('partials/footer') %>