<%- include('partials/head', { pageTitle: 'Medic-Elite' }) %>
<%- include('partials/nav') %>

<main>
  <h1>Employees</h1>
  
  <ul>
    <% members.forEach(employee => { %>
      <li><a href="/emplyees/<%= employee.employeeID %>"><%= employee.name %></a></li>
    <% }) %>
  </ul>

</main>

<%- include('partials/footer') %>