<%- include('./partials/head') %>
<%- include('./partials/nav') %>

<h1>Home</h1>

<img src="images/MEDIC Elite LOGO.jpg" alt="Medic Elite Logo">


<% homeData.forEach(item => { %>
    <h2><%= item.title %></h2>
    <ul>
        <% item.points.forEach(x => { %>
            <li><strong><%= x.heading %></strong>: <%= x.text %></li>
        <% }) %>
    </ul>

<% }) %>


<%- include('./partials/footer') %>