<%- include('./partials/head') %>
<%- include('./partials/nav') %>

<main class="home-wrapper">
  <div class="home-container">
    <div class="logo-container">
      <img src="images/MEDIC Elite LOGO.jpg" alt="Medic Elite Logo">
    </div>
    <div class="content-container">
      <% homeData.forEach(item => { %>
        <h2><%= item.title %></h2>
        <ul>
          <% item.points.forEach(x => { %>
            <li><strong><%= x.heading %></strong>: <%= x.text %></li>
          <% }) %>
        </ul>
      <% }) %>
    </div>
  </div>
</main>

<%- include('./partials/footer') %>